@import "variables.scss";

.feed_container {
    width: 90%;
    margin: 5em auto 7em;
    .actions_wrapper {
        margin: 3em auto;
        display: grid;
        gap: 2em 1.5em;
        grid-template-columns: repeat(2, 1fr);
        .search {
            width: 79%;
            color: #000;
            outline: none;
            padding: .8em 0 .8em 2.5em;
            border: 2px solid #E6E6E6;
            border-radius: .4em;
            background-size: 1.3em;
            background-position-x: .5em;
            background-position-y: center;
            background-repeat: no-repeat;
            background-image: url("../../public/images/search.png");
        }

        .sort {
            width: 100%;
            outline: none;
            cursor: pointer;
            color: #3852F7;
            border-radius: .4em;
            padding: 0 2em;
            font-weight: bold;
            border: 2px solid #E6E6E6;
        }
    }
    .feed_wrapper {
        display: grid;
        gap: 2em 1.5em;
        grid-template-columns: repeat(2, 1fr);
        &__grid {
            cursor: pointer;
            .thumbnail {
                position: relative;
                &__image {
                    width: 100%;
                    border-radius: .8em;
                }
                &__icon {
                    width: 25%;
                    position: absolute;
                    left: .5em;
                    bottom: .8em;
                }
            }
            .details {
                margin-top: .6em;
                .title {
                    font-size: 1em;
                    font-weight: 900;
                }
                .description {
                    font-size: .9em;
                    margin-top: .5em;
                    color: #6C6C6C;
                }
            }
        }
    }
}

@media only screen and (min-width: $break_size_m) {
    .feed_container {
        width: 85%;
        .actions_wrapper {
            display: flex;
            .search {
                width: 60%;
                margin-right: 5em;
                padding: 1.2em 3em;
                background-position-x: 1em;
            }
            .sort {
              width: 15%;
              margin-left: auto;
            }
        }
        .feed_wrapper {
            gap: 4em 2em;
            grid-template-columns: repeat(4, 1fr);
            &__grid {
                .thumbnail {
                    &__icon {
                        width: 18%;
                        left: 1.5em;
                        bottom: 2em;
                    }
                }
            }

            .details {
                .title {
                    font-size: 1.5em;
                }
                .description {
                    font-size: 1em;
                }
            }
        }
    }
}